* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#main_page {
  width: 1900px;
  height: 1080px;
}

#content {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: inline-flex;
}

#algorithm {
  border: 1px solid black;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: none;
}

#ps {
  padding: 10px;
  border: 1px solid black;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

#register {
  padding: 10px;
  border: 1px solid black;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
