* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e5e5e7;
}

#main_page {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height : 100%;
  display: inline-flex;
}
