#top {
  width:100%;
  height:15%;
  text-align: center
}

#top_page_list {
  display: inline-block;
}

a.menu {
  vertical-align: bottom;
  background-color: white;
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid black;
}

a:link,
a:visited,
a:hover {
  color: black;
}
