doctype html
html
  head
    script(type='text/javascript').
      $(document).on('click', '.algorithmMenu', function(e){
        sendAjax('/algorithm/path', e.target.id);
      })
      function sendAjax(url, path){
        console.log("전송중")
        data = JSON.stringify({
          path : path
        })
        var xhr = new XMLHttpRequest()
        xhr.open('POST', url, true)
        xhr.setRequestHeader('Content-type', 'application/json')
        xhr.send(data)
    
        xhr.addEventListener('load', function(){
          var result = JSON.parse(xhr.responseText)
          var algorithm_page = document.querySelector('#algorithm')
          algorithm_page.innerHTML = result.render
        })
      }
  body
    #algorithm_content_list
      -if(sub) {
        ol
          -for (let i in sub) {
            li.algorithmMenu(id=sub[i].tableName)= sub[i].name
          -}  
      -}
