doctype html
html
  head
    style
      include ./../../../css/algorithm/algorithm.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #algorithm_page
      include backfront.pug
      include top
      include list
      include content
