doctype html
html
  head
    style
      include ./../../../css/algorithm/algorithm.css
      include ./../../../css/algorithm/create.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
      $(document).ready(function() {
        var textarea_readonly = document.getElementById('content_textarea_readonly')
        if (textarea_readonly) {
          editor = CodeMirror.fromTextArea(textarea_readonly, {
            lineNumbers: true,
            mode : "text/x-csrc",
            theme : "monokai",
            lineWrapping: true, 
            matchBrackets: true,
            readOnly : true
          })
        }
        function sendAjax(url, data) {
          //- console.log("전송중")
          var xhr = new XMLHttpRequest()
          xhr.open('POST', url, true)
          xhr.setRequestHeader('Content-type', 'application/json')
          xhr.send(data)

          xhr.addEventListener('load', function() {
            var result = JSON.parse(xhr.responseText)
            //- console.log(result)
            if (result.result == 'NO') {
              return alert("이미 내용이 존재합니다")
            }
            var algorithm_page = document.querySelector('#algorithm')
            algorithm_page.innerHTML = result.render
            textarea = document.getElementById('content_textarea')
            if (textarea) {
              editor = CodeMirror.fromTextArea(textarea, {
                lineNumbers: true,
                lineWrapping: true, 
                matchBrackets: true,
                mode : "text/x-csrc",
                theme : "monokai",
              })
            }
            var textarea_readonly = document.getElementById('content_textarea_readonly')
            if (textarea_readonly) {
              editor = CodeMirror.fromTextArea(textarea_readonly, {
                lineNumbers: true,
                mode : "text/x-csrc",
                theme : "monokai",
                lineWrapping: true, 
                matchBrackets: true,
                readOnly : true
              })
            }
          })
        }
        $(document).on('click', '.direction', function(e) {
          e.preventDefault()
          console.log(e)
          data = JSON.stringify({
            direction : e.target.id
          })
          sendAjax('/algorithm/path', data);
        })
        /* 생성 / 수정 구현 */
        $(document).on('click', "#algorithm_create", function(e) {
          e.preventDefault()
          var form = document.querySelector('#algorithm_top_form input[name="choose"]:checked').value
          var data = JSON.stringify({})
          var url
          if (form == 'list') url = '/algorithm/createList'
          else if (form == 'content') url = '/algorithm/createContent'
          sendAjax(url, data)
        })
        /* 삭제 구현 */
        $(document).on('click', "#algorithm_delete", function(e) {
          e.preventDefault()
          if (confirm(`현재 페이지를 삭제 하시겠습니까??`)) {
            var form = document.querySelector('#algorithm_top_form input[name="choose"]:checked').value
            var data = JSON.stringify({})
            var url
            if (form == 'list') url = '/algorithm/deletePage'
            sendAjax(url, data)
          }
        })
        
        /* 리스트 취소, 전송 */
        $(document).on('click', "#list_cancel", function(e) {
          e.preventDefault()
          data = JSON.stringify({})
          sendAjax('/algorithm/path', data)
        })
        $(document).on('click', "#list_submit", function(e) {
          e.preventDefault()
          let form = document.querySelector('#createTable_list')
          data = JSON.stringify({
            name : form.name.value,
            tableName : form.tableName.value  
          })
          sendAjax('/algorithm/createList/post', data)
        })
        /* 컨텐츠 취소, 전송 */
        $(document).on('click', "#content_cancel", function(e) {
          e.preventDefault()
          data = JSON.stringify({})
          sendAjax('/algorithm/path', data)
        })
        $(document).on('click', "#content_submit", function(e) {
          e.preventDefault()
          let form = document.querySelector('#createTable')
          data = JSON.stringify({
            title : form.title.value,
            content : editor.getValue()
          })
          sendAjax('/algorithm/createContent/post', data)
        })
        
      })

      //-   $('#algorithm_delete').click(function(e){
      //-     e.preventDefault()
      //-     var form = document.querySelector('#algorithm_top_form input[name="choose"]:checked').value
      //-     var data = JSON.stringify({ 
      //-       parent : algorithmName,
      //-       algorithmName_ko : algorithmName_ko,
      //-       algorithm_list : algorithm_list,
      //-       algorithm_content_list : algorithm_content_list
      //-     })
      //-     var url = ''
      //-     if (form == 'list') url = '/algorithm/delete/list'
      //-     else if (form == 'content') url = '/algorithm/delete/content'
      //-     else if (form == 'table') url = '/algorithm/delete/table'
      //-     else return
      //-     sendAjax(url, data)
      //-   })
      //- 
      //-   function sendAjax(url, data){
      //-     var xhr = new XMLHttpRequest()
      //-     xhr.open('POST', url, true)
      //-     xhr.setRequestHeader('Content-type', 'application/json')
      //-     xhr.send(data)
      //- 
      //-     xhr.addEventListener('load', function() {
      //-       var result = JSON.parse(xhr.responseText)
      //-       if (result.result == 'NO') {
      //-         alert(result.err)
      //-         return
      //-       }
      //-       else if(result.result == 'YES'){
      //-         alert("삭제 완료")
      //-         location.href = '/'
      //-         return
      //-       }
      //-       var arr = document.querySelectorAll('#algorithm > script')
      //-       for (var i = 0; i < arr.length; i++) arr[i].outerHTML = ''
      //-       document.querySelector('#algorithm_page').innerHTML = result
      //-       arr = document.getElementsByTagName('script')
      //-       for (var i = 0; i < arr.length; i++) {
      //-         eval(arr[i].innerHTML) //run script inside div
      //-       }
      //-     })
      //-   }
      //- })
  body
    #algorithm_top
      #algorithm_top_left
        #backfront_page
          a.algorithm_top_Btn.direction#back_btn(href="") ◀
          a.algorithm_top_Btn.direction#front_btn(href="") ▶
        #algorithm_top_banner
          h1#algorithm_title
            =title
      #algorithm_top_function
        form#algorithm_top_form(method='post')
          #algorithm_top_radio
            input(type='radio' name='choose' value='list' checked)
            |리스트
            input(type='radio' name='choose' value='content')
            |제목/내용
          #algorithm_top_btns
            input#algorithm_create.algorithm_top_Btn(type='submit' value='생성/수정')
            input#algorithm_delete.algorithm_top_Btn(type='submit' value='페이지삭제')
