.rank_record_rank {
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: blue;
  margin-left: 20px;
  margin-right: 20px;
}

.rank_record_id {
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: green;

  margin-left: 20px;
  margin-right: 20px;
}

.rank_record_count {
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: red;

  margin-left: 20px;
  margin-right: 20px;
}

#rank_content_table {
  background-color: #6578b3;
  text-align: center;
  margin-left: auto;
  border-radius: 5px;
  margin-right: auto;
}
/* 테이블 th */
#rank_content_table th {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
/* 테이블 th */
#rank_content_table td{
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #6578b3;
  padding: 10px;
  height: 30px;
  background-color: #ffffff
}
