doctype html
html
  head
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body
    h1 Welcome to Algorithm!
    
    ol
      li Basic
        ul
          li 완전탐색
          li doctype html
      li Advanced
        ul
          li 스패닝 트리
        
      
    
  
  
