doctype html
html
  head
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body
    h1 Welcome to Algorithm!
    #algorithm_content
      #basic.algolist Basic
        ol
          li
            a 엄궁동
          li 
            a 크하하하
          li
            a 메이플
      #advanced.algolist Advanced
        ol
          li
            a 스패닝 트리
          
      
    
  
  
