doctype html
html
  head
  body
    h1 Create table in #{tableName} 
    form#createTable(method='post' active='/algorithm/create')
      p 
        input#name(type='text' name='name')
      p
        input#tableName(type='text' name='tableName')
      p
        input#submit(type='submit' value='등록')
