doctype html
html
  head
    style
      include ../../css/algorithm.css
    script(type='text/javascript').
      $(document).ready(function(){
        $(".algorithmMenu").click(function(e){
          sendAjax(`/algorithm/${e.target.id}`, e.target.id);
        })
        function sendAjax(url, data, lang){
          var data = {'code': data }
          data = JSON.stringify(data)
          var xhr = new XMLHttpRequest()
          xhr.open('POST', url, true)
          xhr.setRequestHeader('Content-type', 'application/json')
          xhr.send(data)
          
          xhr.addEventListener('load', function(){
            var result = JSON.parse(xhr.responseText)
            console.log("IS OK", result)
          })
        }
      })
  body
    #algorithm_page
      #algorithm_top
        h1 Welcome to Algorithm!
      #algorithm_content
        p!= algorithm_list
        
