doctype html
html
  head
    style
      include ./../../css/top.css
    script(type='text/javascript').
      $(document).ready(function() {
        var ps_flag = true
        var algorithm_flag = !{JSON.stringify(algorithm_flag)}
        //- console.log('알고리즘플래그', algorithm_flag)
        color_change("#ps_btn", ps_flag)
        color_change("#algorithm_btn", algorithm_flag)
        dynamic_width(algorithm_flag, ps_flag)
        algorithm_ajax(algorithm_flag)
        $("#algorithm_btn").click(function() {
          algorithm_flag = !algorithm_flag
          color_change("#algorithm_btn", algorithm_flag)
          dynamic_width(algorithm_flag, ps_flag)
          algorithm_ajax(algorithm_flag)
        })
        $("#ps_btn").click(function() {
          ps_flag = !ps_flag
          color_change("#ps_btn", ps_flag)
          dynamic_width(algorithm_flag, ps_flag)
          algorithm_ajax(algorithm_flag)
        })
        function color_change(name, flag) {
          if (flag)
            $(name).css('background-color', '#ffe591')
          else
            $(name).css('background-color', 'white')
        }
        function dynamic_width(algorithm_flag, ps_flag) {
          if (algorithm_flag && ps_flag) {
            $("#algorithm").css(
              'width', '50%'
            ).css(
              'display', 'block'
            )
            $("#ps").css(
              'width', '50%'
            ).css(
              'display', 'block'
            )
          }
          else if (algorithm_flag) {
            $("#algorithm").css(
              'width', '100%'
            ).css(
              'display', 'block'
            )
            $("#ps").css(
              'display', 'none'
            )
          }
          else if (ps_flag) {
            $("#algorithm").css(
              'display', 'none'
            )
            $("#ps").css(
              'width', '100%'
            ).css(
              'display', 'block'
            )
          }
          else {
            $("#algorithm").css(
              'display', 'none'
            )
            $("#ps").css(
              'display', 'none'
            )
          }
        }
        function algorithm_ajax(algorithm_flag){
          test_ajax(algorithm_flag)
          console.log("알고리즘 플래그", algorithm_flag)
          let url = '/algorithm/path'
          let xhr = new XMLHttpRequest()
          xhr.open('POST', url, true)
          xhr.setRequestHeader('Content-type','application/json')
          xhr.send()
          
          xhr.addEventListener('load', function() {
            let result = JSON.parse(xhr.responseText)
            let algorithm_page = document.querySelector('#algorithm')
            algorithm_page.innerHTML = result.render
          })
        }
        function test_ajax(algorithm_flag){
          console.log("알고리즘 플래그, test_ajax", algorithm_flag)
          let url = '/algorithm/flag'
          let xhr = new XMLHttpRequest()
          xhr.open('POST', url, true)
          xhr.setRequestHeader('Content-type','application/json')
          xhr.send(JSON.stringify({
            algorithm_flag : algorithm_flag
          }))
        }
      })
  body
    #top
      include top_banner.pug
      #top_page_list
        a#ps_btn.menu Problem Solving
        a#algorithm_btn.menu Algorithm
