doctype html
html
  head
    style
      include ./../../css/top.css
    script(type='text/javascript').
      $(document).ready(function(){
        var algorithm_flag = true
        $("#algorithm_btn").click(function() {
          $("#algorithm").animate({
            width: "toggle"
          })
        })
        $("#ps_btn").click(function() {
          $("#ps").animate({
            width : "toggle"
          })
        })
      })
  body
    #top
      include top_banner.pug
      #top_page_list
        a#algorithm_btn.menu Algorithm
        a#ps_btn.menu Problem Solving
