#algorithm_page {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* background-color: #ffffb7; */
  background-color: #6578b3;
}

#algorithm_content_list {
  background-color: #ffaaaa;
}

#algorithm_content {
  background-color: #f7f7ff;
  /* background-color: #bbaaa2; */
}

/* 여기부터 algorithm top */
.algorithm_top_Btn {
  vertical-align: bottom;
  text-decoration: none;
  font-family: serif;
}

.algorithm_top_Btn:link,
.algorithm_top_Btn:visited,
.algorithm_top_Btn:hover {
  color: black;
}

.algorithm_top_Btn {
  vertical-align: middle;
  text-align: center;
  vertical-align: bottom;
  width: auto;
  height: auto;
  margin-left: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  font-family: serif;
}

#algorithm_top {
  align-items: center;
  align-content: center;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

#algorithm_top_left {
  width: 70%;
}

#backfront_page {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

#algorithm_top_banner {
  width: 100%;
}

#algorithm_top_function {
  width: 30%;
  align-content: center;
  display: block;
}

#algorithm_top_form {
  display: block;
}

#algorithm_title {
  color: white;
}

#algorithm_top_radio {
  margin: 10px;
  margin-bottom: 20px;
  color:white;
}

#algorithm_top_btns {
  margin: 10px;
}

/* 여기부터 content list */
#algorithm_content_list {
  overflow-y: auto;
  max-height: 20%;
  margin-top: 30px;
  border: 1px solid black;
}

.algorithmMenu {
  cursor: pointer;
  margin-bottom: 20px;
  vertical-align: bottom;
  text-decoration: none;
  font-family: serif;
}

.algorithmMenu:link,
.algorithmMenu:visited,
.algorithmMenu:hover {
  color: black;
}

.algorithmMenu_li {
  margin: 10px;
}

/* 여기부터 content */
#algorithm_content {
  height: 60%;
  margin-top: 30px;
  border: 1px solid black;
  padding: 20px;
}
#code_content .CodeMirror-scroll {
  min-height: 300px;
  max-height: 300px;
}
.CodeMirror {
  height: 100%;
  max-height: 100%;
}
