doctype html
html(lang='en')
  head
    style
      include ./../../../css/main.css
      include ./../../../css/top.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #main_page
      #top
        include ./../top_banner.pug
      #content
        #ps
          include register.pug
