doctype html
html
  head
    style
      include ./../../../css/ps/content.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #ps_content
      h1#ps_main_banner Programing Solving Online Judge!
      
      img(src='/public/ps_main_picture.jpg' width='500px' height='300px')#content_image
      h1#ps_content_content 코더스에 오신것을 환영합니다
      h1 Deep Develop
