doctype html
html
  head
    style
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #left
      #ps_list
        li.ps_list
          a(href="/problem") 문제 풀기
        li.ps_list
          a(href="/rank") 점수 확인
        li.ps_list
          a(href="/notice") 공지사항
