doctype html
html
  head
    style
      include ./../../../css/ps/ps.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #ps_page
      include left.pug
      include content.pug
