doctype html
html
  head
    style
      include ./../../../../css/algorithm/algorithm.css
      include ./../../../../css/algorithm/create.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #algorithm_page
      form#createTable(method='post' action='/algorithm/createContent/post')
        #algorithm_top
          h1#algorithm_top_banner
            | "
            input#algorithm_create_title(type='text' name='title' value=algorithmName_ko)
            | "
        #algorithm_content
          textarea#content_textarea(style='resize:none' name='content')= content
          p
            input.algorithm_cancel.algorithm_top_Btn#content_submit(type='submit' value='등록')
            input.algorithm_cancel.algorithm_top_Btn#content_cancel(type='submit' value='취소')
