doctype html
html
  head
    style
      include ./../../../../css/algorithm/algorithm.css
      include ./../../../../css/algorithm/create.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #algorithm_page
      #algorithm_top
        #algorithm_top_banner
          h1|"
            =algorithmName_ko
            |"에서 리스트 생성하기
      #algorithm_content
        form#createTable(action='/algorithm/createList/post' method='post')
          p 한글 이름 :
            input#name(type='text' name='name')
          p 테이블 이름 :
            input#tableName(type='text' name='tableName')
          p
            input#list_submit(type='submit' value='등록')
            input#list_cancel(type='submit' value='취소')
